
<form>
  <div class="container">
    
    <h1>Enter Your Time sheet</h1>
    <div class="row">
      <div class="col-sm-6 offset-sm-3 tracker_date">
          <mat-form-field>
              <input matInput [matDatepicker]="picker" (focus)="picker.open()"  name="trackerDate" [(ngModel)]="date"  [max]="maxDate" (dateChange)="onDateChange()">
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <a (click)="nextDate()" class="icon_next" *ngIf="date < maxDate"></a>
            <a (click)="prevDate()" class="icon_prev"></a>
      </div>
      <div class="clearfix " style="margin: 20px 0;"></div>
    </div>
   <div *ngIf="displayGrid" #TABLE>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" #table>
      <ng-container matColumnDef="module">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Module </th>
        <td mat-cell *matCellDef="let element"> {{element.module}} </td>
      </ng-container>
    
      <ng-container matColumnDef="tfsId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> TFS_ID </th>
        <td mat-cell *matCellDef="let element"> {{element.tfsId}} </td>
      </ng-container>
    
      <ng-container matColumnDef="workType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.workType}} </td>
      </ng-container>
    
      <ng-container matColumnDef="build">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Build No </th>
        <td mat-cell *matCellDef="let element"> {{element.build}} </td>
      </ng-container>

      <ng-container matColumnDef="activity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Activity </th>
        <td mat-cell *matCellDef="let element"> {{element.activity}} </td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
        <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="displayGrid=false; buttonValue='Update';showAddButton=false; onEdit(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3, 6, 9]" showFirstLastButtons></mat-paginator>
    <!-- <div class="btn-block">
        <a mat-raised-button color="primary" (click)="ExportTOExcel()">Export to Excel</a>
    </div> -->
  </div>
  
  <div class="btn-block">
    <button mat-raised-button color="primary" *ngIf="showAddButton" (click)="displayGrid=false; showAddButton=false; buttonValue='Create'">Add Task</button>
  </div>
  <div *ngIf="!displayGrid">
    <mat-card>
      <mat-card-title>Enter Your Time </mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" class="row" (submit)="onSave()">
          <div class="form-group col-sm-6">
              <mat-form-field>
                  <mat-label>Module</mat-label>
                  <mat-select formControlName="module">
                    <mat-option *ngFor="let module of moduleList" [value]="module.value">
                      {{module.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    <span *ngIf="module.touched && module.invalid"> Module is Required</span>
                  </mat-error>
                </mat-form-field>
          </div>
          <div  class="form-group col-sm-6">
              <mat-form-field>
                  <mat-label>Build Number</mat-label>
                  <mat-select formControlName="build">
                    <mat-option *ngFor="let build of buildList"  [value]="build.value">
                      {{build.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    <span *ngIf="build.touched && build.invalid"> Build Number is Required</span>
                  </mat-error>
                </mat-form-field>
          </div>
          <div  class="form-group col-sm-6">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="TFS ID" formControlName="tfsId">
                  <mat-error>
                    <span *ngIf="tfsId.touched && tfsId.invalid"> TFS Id is Required</span>
                  </mat-error>
                </mat-form-field>
            </div>
            <div  class="form-group col-sm-6">
                <mat-form-field>
                    <mat-label>Work Type</mat-label>
                    <mat-select formControlName="workType">
                      <mat-option *ngFor="let workType of workTypeList" [value]="workType.value">
                        {{workType.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      <span *ngIf="workType.touched && workType.invalid"> WorkType is Required</span>
                    </mat-error>
                  </mat-form-field>              
            </div>
            <div class="form-group col-sm-6">
                <mat-form-field>
                    <mat-label>Activity Done</mat-label>
                    <mat-select formControlName="activity">
                      <mat-option *ngFor="let activity of activityList" [value]="activity.value">
                        {{activity.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      <span *ngIf="activity.touched && activity.invalid"> Activity is Required</span>
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="form-group col-sm-6">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Hours" formControlName="hours" type="number">
                  <mat-error>
                    <span *ngIf="hours.touched && hours.invalid"> Hours Required</span>
                  </mat-error>
                </mat-form-field>
            </div >

            <div class="form-group col-sm-6">
              <label for="comments">Comments</label>
              <textarea 
              id="comments"
                rows="5" 
                cols="10"
                class="form-control"
                formControlName="comments"  
              ></textarea> 
              <div *ngIf="comments.touched && comments.invalid" class="alert alert-danger">
                <div *ngIf="comments.errors.required">Comments required</div>
                <div *ngIf="comments.errors.maxLength">Comments length should not exceed 250 char.</div>
              </div>           
            </div>
            <mat-card-actions class="text-right">
              <button *ngIf="buttonValue=='Update'" mat-raised-button color="primary" type="button" (click)="deleteEntry()">Delete</button>
              <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">{{buttonValue}}</button> 
              <button mat-raised-button color="primary" type="cancel" (click)="displayGrid=true;showAddButton=true;form.reset();" >Cancel</button> 
            </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</form>