/* The typing effect */
.notification{
    animation: typing 5s linear infinite;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
  }

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  