<div>
    <div>
            <span class="close" style="text-align: right; font-size: 30px;" (click)="closeDialog()">&times;</span>
    </div>
<h1 mat-dialog-title>Enter Work Item
</h1>
<div mat-dialog-content class="mat-typography">
    <form [formGroup]="WorkItemAddForm">
        <mat-form-field>
            <input matInput placeholder="Work Item Type" formControlName="workItemName" required>
        </mat-form-field>
        <div class="btn-block">
            <button mat-raised-button color="primary" type="submit" (click)="onSave()" cdkFocusInitial>Save</button>
        </div>
    </form>
</div>
</div>