
 <mat-card>
    <mat-card-title>User Details</mat-card-title>
    <mat-card-content>
    <form [formGroup]="registerForm" class="row" (submit)="onSave(registerForm)">
      <div class="form-group col-sm-6"> 
        <mat-form-field>
              <input matInput  placeholder="First Name" formControlName="firstName">
              <mat-error>
                <span *ngIf="firstName.touched && firstName.invalid"> First Name is Required</span>
              </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group col-sm-6"> 
          <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="lastName">
                <mat-error>
                  <span *ngIf="lastName.touched && lastName.invalid"> Last Name is Required</span>
                </mat-error>
          </mat-form-field>
      </div>
      <div class="form-group col-sm-6"> 
          <mat-form-field>
                <input matInput  placeholder="Email Id" formControlName="email">
                <mat-error>
                  <span *ngIf="email.touched && email.invalid">Email Id is Required</span>
                </mat-error>
          </mat-form-field>
      </div>
      <div class="form-group col-sm-6"> 
          <mat-form-field>
                <input  matInput placeholder="MId" formControlName="mid">
                <mat-error>
                  <span *ngIf="mid.touched && mid.invalid">MId is Required</span>
                </mat-error>
          </mat-form-field>
      </div>
      <div class="form-group col-sm-6"> 
          <mat-form-field>
                <input matInput placeholder="Password" formControlName="password">
                <mat-error>
                  <span *ngIf="password.touched && password.invalid">MId is Required</span>
                </mat-error>
          </mat-form-field>
      </div>
      
      <div class="form-group col-sm-6"> 
          <mat-form-field>
                <input matInput placeholder="Project Name" formControlName="projectName">
                <mat-error>
                  <span *ngIf="projectName.touched && projectName.invalid">Project Name is Required</span>
                </mat-error>
          </mat-form-field>
      </div>
      <div class="form-group col-sm-6"> 
          <mat-form-field>
                <input matInput placeholder="Project Role" formControlName="projectRole">
                <mat-error>
                  <span *ngIf="projectRole.touched && projectRole.invalid">Project Role is Required</span>
                </mat-error>
          </mat-form-field>
      </div>
      <div class="form-group col-sm-6"> 
          <mat-form-field>
                <input matInput placeholder="Manager Name" formControlName="managerName">
                <mat-error>
                  <span *ngIf="managerName.touched && managerName.invalid">Manager Name is Required</span>
                </mat-error>
          </mat-form-field>
      </div>
      <div class="form-group col-sm-6"> 
          <mat-form-field>
                <input matInput placeholder="Location" formControlName="location">
                <mat-error>
                  <span *ngIf="location.touched && location.invalid">Location is Required</span>
                </mat-error>
          </mat-form-field>
      </div>
      <mat-card-actions class="text-right">
        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">submit</button> 
        <button mat-raised-button color="primary" type="cancel" (click)="registerForm.reset();" >Cancel</button> 
      </mat-card-actions>
  </form>
</mat-card-content>
</mat-card>

