
  <mat-tab-group mat-stretch-tabs class="bg-white">
    <mat-tab label="Build Number">
      <app-admin-build></app-admin-build>
    </mat-tab>
    <mat-tab label="Module">
      <app-admin-module></app-admin-module>
    </mat-tab>
    <mat-tab label="Work Item Type">
     <app-admin-workitemtype></app-admin-workitemtype>
    </mat-tab>
    <mat-tab label="Activity Done">
      <app-admin-activity></app-admin-activity>
    </mat-tab>
    <mat-tab label="Generate Report">
      <app-admin-report-generate></app-admin-report-generate>
    </mat-tab>
  </mat-tab-group>