<div class="col-12">
  <div class="row">
    <div class="form-group col-sm-6">
      <mat-form-field>
        <mat-label>Search By</mat-label>
        <mat-select [(ngModel)]="serachByValue" (ngModelChange)="searchByfunc(serachByValue)">
          <mat-option *ngFor="let searchBy of searchByList" [value]="searchBy.value">
            {{searchBy.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-sm-6" *ngIf="serachByValue=='User'">
      <mat-form-field>
        <mat-label>Select User</mat-label>
        <mat-select [(ngModel)]="selectedUser"  (ngModelChange)="ExportReportToExcel(selectedUser,serachByValue)">
          <mat-option *ngFor="let user of UserList" [value]="user.mid">
            {{user.firstName}} {{user.lastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-sm-6" *ngIf="serachByValue=='Branch'">
      <mat-form-field>
        <mat-label>Select Branch</mat-label>
        <mat-select [(ngModel)]="selectedBranch"  (ngModelChange)="ExportReportToExcel(selectedBranch,serachByValue)">
          <mat-option *ngFor="let branch of BranchList" [value]="branch.value">
            {{branch.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group col-sm-6" *ngIf="serachByValue=='Build'">
      <mat-form-field>
        <mat-label>Select Build</mat-label>
        <mat-select [(ngModel)]="selectedBuild"  (ngModelChange)="ExportReportToExcel(selectedBuild,serachByValue)">
          <mat-option *ngFor="let build of BuildList" [value]="build.buildName">
            {{build.buildName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>