<div class="row">
  <div class="col-md-12">
    <div class="panel panel-inverse animate fadeInLeft a2">
      <div class="panel-heading">
        <!-- <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload" data-original-title="" title=""><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div> -->
        <h4 class="panel-title"><i class="fa fa-book"></i> Alerts</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <!-- begin col-3 -->
          <div class="col-md-2 col-sm-6">
            <div class="widget widget-stats bg-green">
              <div class="stats-icon"><i class="fa fa-desktop"></i></div>
              <div class="stats-info">
                <h4>TOTAL LEADS</h4>
                <p>10000</p>
              </div>
              <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
              </div>
            </div>
          </div>
          <!-- end col-3 -->
          <!-- begin col-3 -->
          <div class="col-md-2 col-sm-6">
            <div class="widget widget-stats bg-blue">
              <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
              <div class="stats-info">
                <h4>PROCESSED QUOTES</h4>
                <p>2000</p>
              </div>
              <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
              </div>
            </div>
          </div>
          <!-- end col-3 -->
          <!-- begin col-3 -->
          <div class="col-md-2 col-sm-6">
            <div class="widget widget-stats bg-purple">
              <div class="stats-icon"><i class="fa fa-users"></i></div>
              <div class="stats-info">
                <h4>HIGH RISK LEADS</h4>
                <p>3000</p>
              </div>
              <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
              </div>
            </div>
          </div>
          <!-- end col-3 -->
          <!-- begin col-3 -->
          <div class="col-md-2 col-sm-6">
            <div class="widget widget-stats bg-red">
              <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
              <div class="stats-info">
                <h4>DE-DUPE</h4>
                <p>4000</p>
              </div>
              <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
              </div>
            </div>
          </div>
          <!-- end col-3 -->
          <!-- begin col-3 -->
          <div class="col-md-2 col-sm-6">
            <div class="widget widget-stats bg-red">
              <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
              <div class="stats-info">
                <h4>DNC LEADS</h4>
                <p>3000</p>
              </div>
              <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
              </div>
            </div>
          </div>
          <!-- end col-3 -->
          <!-- begin col-3 -->
          <div class="col-md-2 col-sm-6">
            <div class="widget widget-stats bg-red">
              <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
              <div class="stats-info">
                <h4>PRIORITY LEADS</h4>
                <p>200</p>
              </div>
              <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
              </div>
            </div>
          </div>
          <!-- end col-3 -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-inverse animate fadeInRight a6">
      <div class="panel-heading">
        <!-- <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload" data-original-title="" title=""><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div> -->
        <h4 class="panel-title"><i class="fa fa-book"></i> LEADS</h4>
      </div>
      <div class="panel-body">
        <div id="highchart" class="height-sm"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-inverse animate fadeInRight a6">
      <div class="panel-heading">
        <!-- <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload" data-original-title="" title=""><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div> -->
        <h4 class="panel-title"><i class="fa fa-book"></i> LEADS TREND</h4>
      </div>
      <div class="panel-body">
        <div id="highchartnormal" class="height-sm"></div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-inverse animate fadeInLeft a2">
      <div class="panel-heading">
        <!-- <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload" data-original-title="" title=""><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div> -->
        <h4 class="panel-title"><i class="fa fa-book"></i> LEADS BY PRIORITY</h4>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Name</th>
              <th>City</th>
              <th>Contact Number</th>
              <th>Priority (Stage)</th>
              <th>Priority Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>George</td>
              <td>NewYork</td>
              <td>503 890 350</td>
              <td>2</td>
              <td>Potential Exclusions</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Sathyesh</td>
              <td>Denver</td>
              <td>729 890 350</td>
              <td>3</td>
              <td>Ease of doing Buisness</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Morgan</td>
              <td>Chicago</td>
              <td>111 890 350</td>
              <td>1</td>
              <td>Exclusions</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>