<div class="row">
  
  <div class="col-md-12">
    <div class="panel panel-inverse animate fadeInLeft a2">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-book"></i> Notofications</h4>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Name</th>
              <th>Module</th>
              <th>Internal Tracker Id</th>
              <th>Priority (Stage)</th>
              <th>Priority Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>George</td>
              <td>Smart Wallet</td>
              <td>1234</td>
              <td>Normal</td>
              <td>In Progress</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>John</td>
              <td>Smart Wallet</td>
              <td>1234</td>
              <td>Normal</td>
              <td>In Progress</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Smith</td>
              <td>Smart Wallet</td>
              <td>1234</td>
              <td>Normal</td>
              <td>In Progress</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>