<div class="row">
  
  <div class="col-md-12">
    <div class="panel panel-inverse animate fadeInLeft a2">
      <div class="panel-heading">
        <h4 class="panel-title"><i class="fa fa-book"></i> Alerts</h4>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Name</th>
              <th>City</th>
              <th>Contact Number</th>
              <th>Priority (Stage)</th>
              <th>Priority Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>George</td>
              <td>NewYork</td>
              <td>503 890 350</td>
              <td>2</td>
              <td>Potential Exclusions</td>
            </tr>
            <tr>
              <td>2.</td>
              <td>Sathyesh</td>
              <td>Denver</td>
              <td>729 890 350</td>
              <td>3</td>
              <td>Ease of doing Buisness</td>
            </tr>
            <tr>
              <td>3.</td>
              <td>Morgan</td>
              <td>Chicago</td>
              <td>111 890 350</td>
              <td>1</td>
              <td>Exclusions</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>