/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body{
	background: url("assets/images/track-app1.jpg") no-repeat 0 0;
	background-size: cover;
	width:100%;
	height:100%;
	margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	
}
header{
	background-color: #154265 20%;
    background-image: radial-gradient(farthest-side ellipse at 10% 0, #154265 20%, #7392c2);
    background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
	margin: 0 ;
	padding:0;
	z-index:2
}
.navbar-brand img{
    height: 58px;
}
.navbar .nav-link{
	color:#fff;
	transition-duration: 0.3s;
}
.navbar .nav-link.active, .navbar .nav-link:hover{
	color:#fff;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;

}
.navbar-nav{
	margin-top: 27px
}

main{
	margin-top:-2px;
	margin-bottom:20px;
	display:block;
	color:#fff
}
.main-container{
	float:left;
	width:100%;
	z-index:1;
	padding:20px 15px;
}
.main-container h1{
	margin-top:0;
	font-size:24px;
	margin-bottom:20px;
}

.main-container h5{
	margin-top:0
}
.main-container .table{
	margin:20px 0;
	overflow:hidden;
	color:#fff
	
}
.main-container .table{
	background: rgba(0,0,0,0.3)
}

.btn{
	margin-right:10px;
}

textarea{
	resize:none
}

.border-adjust{
	padding:10px;
	border-radius: 4px;
	background:rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3)
}

/*-Ui Select-*/


.selectize-control > .selectize-input > input{
	color:#777
}
.input-group.calendar .form-control{
	box-shadow: none;
	padding-top:0;
	padding-bottom:0
}
.calendar .input-group-btn button.btn-default{
	background: none;
	border:none;
}
.calendar .input-group-btn button.btn-default:focus{
	box-shadow:none;
	outline:none
}
.calendar .input-group-btn button i{
	color:#ffffff
}
.uib-datepicker-popup .btn.btn-default{
	border:none
}

.uib-datepicker-popup {
	-webkit-animation: mymove 0.2s 1;
animation: mymove 0.2s 1;
}
	
	
.uib-datepicker-popup * {
    outline: none;
}

.uib-datepicker-popup.dropdown-menu {
    padding: 10px;
}

.uib-datepicker-popup .btn.btn-default {
    border: none;
}
.uib-daypicker em{
	color:#ccc;
}
.uib-datepicker-popup {
    -webkit-animation: mymove 0.2s 1;
    animation: mymove 0.2s 1;
}

@-webkit-keyframes mymove {
    0% {
        top: 0px;
    }

    100% {
        top: 30px;
    }
}

/* Standard syntax */
@keyframes mymove {
    0% {
        top: 0px;
    }

    100% {
        top: 30px;
    }
}
	
/*-Radio -*/
.radio-grup .radio-label{
	float:left
}
.radio + .radio, .checkbox + .checkbox{
	margin-top:0
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
	float:left;
	margin-right: 15px;
}
.radio label {
    cursor: pointer;
    padding-left: 28px;
    position: relative;
    color: #fff;
}
.checkbox label, .radio label {
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    font-weight: 400;
}
.select-radio input[type="radio"] {
    margin-top: 4px;
    float: left;
}
.select-radio span {
    margin: 0 5px;
}
.radio label span {
    display: block;
    position: absolute;
    left: 0;
    top: 2px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.radio input[type=radio] {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}
.radio label .circle {
    border: 2px solid #fff;
    height: 15px;
    width: 15px;
    border-radius: 100%;
}
.radio label .check {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: #009688;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
}
.radio input[type=radio]:checked ~ .check, .radio input[type=radio]:checked ~ .circle {
    opacity: 1;
}
.radio input[type=radio]:checked ~ .circle {
    border-color: #fff;
}

.radio input[type=radio]:checked ~ .check {
    background-color: #fff;
}
.radio input[type=radio]:checked ~ .check {
    -webkit-transform: scale3d(0.55, 0.55, 1);
    transform: scale3d(0.55, 0.55, 1);
}

/*----------------------------------*/
/*CHECKBOX*/

.checkbox{
	margin-right:0
}
.checkbox label{
	display:inline-flex;
	padding-left: 0;
    padding-right: 20px;
	
}
.custom-checkbox{
	margin-left:10px;
	margin-bottom:10px;
}
label input[type="checkbox"] {
  display: none;
}

label input[type="checkbox"] + .custom-checkbox{
	background-color: transparent;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
label:active input[type="checkbox"] + .custom-checkbox, label:active input[type="checkbox"]:checked + .custom-checkbox {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

label input[type="checkbox"]:checked + .custom-checkbox{
	background-color: transparent;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

label input[type="checkbox"]:checked + .custom-checkbox:after {
	content: '\2714';
	font-size: 16px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #fff;
}


label input[type="checkbox"] + .big-checkbox {
	padding: 16px;
}

label:active input[type="checkbox"] + .big-checkbox:after , label input[type="checkbox"]:checked + .big-checkbox:after {
	font-size: 36px;
	left: 2px;
	top:  3px;
}

label input[type="radio"] {
	display: none;
}

label input[type="radio"] + .custom-radio {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

label input[type="radio"]:checked + .custom-radio:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

label input[type="radio"]:checked + .custom-radio {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

label:active input[type="radio"] + .custom-radio, label:active input[type="radio"]:checked + .custom-radio {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

label input[type="radio"] + .big-radio {
	padding: 16px;
}

label input[type="radio"]:checked + .big-radio:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}

/*-Time Picker-*/

.time-picker .dropdown-menu{
	padding-left:10px;
	
}

/* Dashboard Widget */
	
.widget {
	margin-bottom: 20px;
	padding: 15px;
	color:#fff;
	background: rgba(0,0,0,0.3);
	border-radius: 2px;
	box-shadow: 2px 5px 5px #888;
}
.widget h4{
	font-size: 14px
}
.widget.widget-stats {
	position: relative;
}
.widget-stats .stats-icon {
	font-size: 14px;
	height: 56px;
	width: 56px;
	text-align: center;
	line-height: 56px;
	margin-left: 15px;
	position: absolute;
	right: 0;
	top: 15px;
	opacity: .2;
	filter: alpha(opacity=20);
}
.widget-stats .stats-link a {
	display: block;
	margin: 15px -15px -15px;
	padding: 7px 15px;
	background: rgba(0,0,0,.4);
	text-align: right;
	color: #ddd;
	font-weight: 300;
	text-decoration: none;
}

.height-sm{
	height: 250px
}
.chart-legend ul{
	list-style:none;
	margin:0;
	padding:0;
}
.chart-legend li{
	display:inline;
	margin-right:10px
}
.chart-legend li span {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}


/* Date picker */
mat-form-field{
	width:100%
}
.mat-datepicker-content{
	background: #154265;
}
.mat-form-field.mat-focused .mat-form-field-ripple, .mat-calendar-body-selected{
	background-color: rgba(255, 255, 255, 0.5);
}
.mat-datepicker-toggle-active, .mat-form-field.mat-focused .mat-form-field-label{
	color:  rgba(255, 255, 255, 0.3);
}



@media (max-width: 600px) {
	.container-fluid > .navbar-header{
		float:left;
	}
	#navbar .nav > li{
		float:left
	}
	#navbar .nav > li li{
		float:none
	}
	#navbar .navbar-right{
		float:right
	}
}
