<div class="offset-sm-6">
  <mat-card>
    <form (submit)="onLogin(loginform)" [formGroup]="loginform">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" (blur)="setUserCategoryValidators()" required email #email>
        <mat-error *ngIf="email.invalid">Please give a valid email addr</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'" #password>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>   
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </mat-card>
</div> 